.bar1 {
    background-color: black;
    color: white;
    padding: 10px;
    justify-content: space-around;
    display: flex;
    border-radius: 20px;
    font-size: xx-large;
    margin: 50px;
}

.bar2 {
    background-color: black;
    color: white;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    border-radius: 20px;
    font-size: xx-large;
    margin: 30px;
    align-items: center;
    text-align: center;
}
.bar3 {
    background-color: black;
    color: white;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    border-radius: 20px;
    font-size: xx-large;
    margin: 30px;
    align-items: center;
    text-align: center;
}